label {
  font-size: large;
  margin-right: 12px;
}

button{
  margin: 3px;
}

h1{
  text-align: center;
  margin: unset;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-form {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  padding: 10px;
  border: 1px solid lightgray;
  box-shadow: 3px 3px lightgray;

}

.registration-field {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px;
}

.registration-button-container {
  display: flex;
  justify-content: space-between;
}

.project-page-container{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.project-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
  border: 1px solid lightgray;
  box-shadow: 3px 3px lightgray;
  margin-left: 15px;
}

.project-box{
  background-color: skyblue;
  box-shadow: 3px 3px lightgray;
  border: 1px solid black;
  margin: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: fit-content;
  border: 1px solid lightgray;
  box-shadow: 3px 3px lightgray;
  margin-left: 15px;
  width: fit-content
}

.issues-page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.issue-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: skyblue;
  box-shadow: 3px 3px lightgray;
  border: 1px solid black;
  margin: 12px 0px 12px 0px;
  width: fit-content
}